# Dependencies
node_modules/

# Environment variables (NE JAMAIS commiter)
.env
*.env.local

# Build output
dist/
build/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# IDE
.vscode/
.idea/
supabase_schema.sql
